<div id="slideshow">
    <div class="slide-wrapper">
  
      <!-- Define each of the slides
         and write the content -->
      <div class="slide">
        <h1 class="slide-number">
          Veja bem...
        </h1>
      </div>
      <div class="slide">
        <h1 class="slide-number">
          aqui está
        </h1>
      </div>
      <div class="slide">
        <h1 class="slide-number">
          um exemplo colorido de
        </h1>
      </div>
      <div class="slide">
        <h1 class="slide-number">
          Slide, no meu site querido! 
        </h1>
      </div>
    </div>
  </div>
<br>
<br>